In [ ]:
# Are gender and education level dependent at 5% level of significance?

In [24]:
import pandas as pd
import numpy as np
import math
import statistics as stat
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import chisquare

n = 395 #sample_size
#-- Original Dataset with survey details --.
survey_df = pd.DataFrame(
    {
        'Gender': ['Male','Female'],
        'High School': [60,40],
        'Bachelors': [54,44],
        'Masters': [46,53],
        'Ph.D': [41,57]
    })
survey_df.set_index('Gender')
survey_df['Total'] = survey_df.sum(axis=1)
survey_df.loc['Total'] =survey_df.sum()
observed =[60,40,54,44,46,53,41,57]
survey1_df = pd.DataFrame(
    {
        'Gender': ['Male','Female'],
        'High School': [210*100/395,194*100/395],
        'Bachelors': [210*98/395,194*98/395],
        'Masters': [210*99/395,194*99/395],
        'Ph.D': [210*98/395,194*98/395]
    })
survey1_df.set_index('Gender')
survey1_df['Total'] = survey1_df.sum(axis=1)
survey1_df.loc['Total'] =survey1_df.sum()
expected = [210*100/395,194*100/395,210*98/395,194*98/395,210*99/395,194*99/395,210*98/395,194*98/395]
expected
chi_squared_stat = chisquare(observed,expected)
print(chi_squared_stat)

# hence we reject the null hypothesis and conclude that the education level depends on gender at a 5% level of significance.

Power_divergenceResult(statistic=8.22326224787828, pvalue=0.31331931176782246)

In [ ]:
# Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the results in APA format.

In [77]:
import pandas as pd
import numpy as np
import math
import statistics as stat
from scipy import stats
import matplotlib.pyplot as plt
# ananlysis data as dataframe
analysis_df = pd.DataFrame(
    {
        'Group1': [51,45,33,45,67],
        'Group2': [23,43,23,43,45],
        'Group3': [56,76,74,87,56]
    })
analysis_df

# means of each group
group1_m = (51+45+33+45+67)/(5)
group2_m = (23+43+23+43+45)/(5)
group3_m = (56+76+74+87+56)/(5)

#sum of squares of deviations as df
analysis_ss_df = pd.DataFrame(
    {
        'Group1_ss': [((51-float(group1_m))**2),((45-float(group1_m))**2),((33-float(group1_m))**2),((45-float(group1_m))**2),((67-float(group1_m))**2)],
        'Group2_ss': [((23-float(group2_m))**2),((43-float(group2_m))**2),((23-float(group2_m))**2),((43-float(group2_m))**2),((45-float(group2_m))**2)],
        'Group3_ss': [((56-float(group3_m))**2),((76-float(group3_m))**2),((74-float(group3_m))**2),((87-float(group3_m))**2),((56-float(group3_m))**2)]
    })
analysis_ss_df

# sum of squares of deviations per group  
sum_Group1_ss = float(((51-float(group1_m))**2)+((45-float(group1_m))**2)+((33-float(group1_m))**2)+((45-float(group1_m))**2)+((67-float(group1_m))**2))
sum_Group2_ss = float(((23-float(group2_m))**2)+((43-float(group2_m))**2)+((23-float(group2_m))**2)+((43-float(group2_m))**2)+((45-float(group2_m))**2))
sum_Group3_ss = float(((56-float(group3_m))**2)+((76-float(group3_m))**2)+((74-float(group3_m))**2)+((87-float(group3_m))**2)+((56-float(group3_m))**2))

# grand mean of group means'
grand_m = (group1_m+group2_m+group3_m)/3

# Sum of squares of deviation of means nad grand mean 
grand_m_ss = (((group1_m-grand_m)**2)+((group2_m-grand_m)**2)+((group3_m-grand_m)**2))

#variance by group
var_1 = sum_Group1_ss/(5-1)
var_2 = sum_Group2_ss/(5-1)
var_3 = sum_Group3_ss/(5-1)

# grand mean of group variances'
var_m = (var_1+var_2+var_3)/3
df_var = 15-3
# sum of squares of deviation of variances
group_m_ss = var_m*df_var

#
var_m_ss = grand_m_ss/(3-1)
var_m_ss_sum = var_m_ss*5
ss_mean = (sum_Group1_ss+sum_Group2_ss+sum_Group3_ss)/3
var_m_ss_sum
df_groups = 3-1
SS_group = var_m_ss_sum*df_groups
SS_group

APA_df = pd.DataFrame(
    {
        'source': ['group','var','total'],
        'SS': [SS_group,var_m_ss,(SS_group+var_m_ss)], #sum of squares
        'DF': [df_groups,df_var,'']
    })
APA_df

# Test statistic and critical value
# F=1511.45/155.07 =9.75
# Fcritical(2,12) =3.89
# F(2, 12)=9.75, p <0.05, effect size =0.62
# Decision reject the null hypothesis

  source           SS  DF
0  group  3022.933333   2
1    var   302.293333  12
2  total  3325.226667

In [ ]:
# Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25. For 10, 20, 30, 40, 50:

In [108]:
import pandas as pd
import numpy as np
import math
import statistics as stat
from scipy import stats
import matplotlib.pyplot as plt

list1 = [10,20,30,40,50]
list2 = [5,10,15,20,25]
n1 = len(list1)
n2 = len(list2)
mean1 = sum(list1)/n1
mean2 = sum(list2)/n2
var_list1 = ((np.array(list1)-mean1)**2).tolist()
var_list2 = ((np.array(list2)-mean2)**2).tolist()
var_1 = (1/(n1-1))*sum(var_list1)
var_2 = (1/(n2-1))*sum(var_list2)
F_test = var_1/var_2
print("F_Test for given lists:", F_test)

F_Test for given lists: 4.0